* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ececec;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app {
  background-color: #212121;
  display: flex;
  height: 100vh;
  width: 100%;
}
