/* index.css */

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #212121; /* full black background */
}

#root {
  width: 100%;
  height: 100%;
  background-color: #212121;
}
/* * {
  box-sizing: border-box;
} */
